<div class="home-title">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="white">Bringing Together Volunteers & Organizations with the aid of Businesses.</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>WELCOME TO VOLUNTEERMEET</h1>
      <p>
        VolunteerMeet connects individuals interested in volunteering with organizations in need of volunteers.  As a user you can find volunteer opportunities in your area, connect with fellow volunteers, monitor and share your volunteer history, and help make the world a better place.  As an organization you can post your events and opportunities to expand your volunteer base.  VolunteerMeet does not stop there!  It brings Businesses into the picture by providing them a base to organize their donations
      </p>
    </div>
  </div>
</div>
