<div class="container custom-container">
  <div class="row">
    <div class="col-md-8 col-12">
      <h1>Opportunities</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12" ng-repeat="event in main.wallEvents">
      <!-- <p>{{ event.name }}</p> -->
      <div class="card" style="margin-bottom: 16px;">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="../../../assets/images/sample.png" class="card-img" alt="...">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h2 class="card-title">{{ event.name }}</h2>
              <!-- <p class="card-text"><small class="text-muted">{{ event.orgId }}</small></p> -->
              <p class="card-text" style="margin-bottom: 16px">{{ event.description }}</p>
              <h3>When?</h3>
              <p>{{ event.date | date:'MMMM d, yyyy' }}, {{ event.start | date:'hh:mm a' }} - {{ event.end | date:'hh:mm a' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
