<div class="container custom-container">
  <div class="row">
    <div class="col-12">
      <h1>Organizations Database</h1>
    </div>
  </div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-item-highlight nav-link active" id="nav-company-tab" data-toggle="tab" data-target="#nav-company" role="tab" aria-controls="nav-company" aria-selected="false">Organizations</a>
      <a class="nav-item nav-item-highlight nav-link" id="nav-bookmark-tab" data-toggle="tab" data-target="#nav-bookmark" role="tab" aria-controls="nav-bookmark" aria-selected="true">Following</a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <!-- COMPANIES -->
    <div class="tab-pane fade show active" id="nav-company" role="tabpanel" aria-labelledby=" nav-company-tab">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row" ng-if="corporate.loading">
              <div class="col-sm-12">
                <div class="jumbotron text-center turquoise">
                  <i class="fas fa-sync fa-spin fa-10x">
                  </i>
                  <h2 class="turquoise">Loading</h2>
                </div>
              </div>
            </div>
            <div class="row" ng-if="corporate.empty && !corporate.loading">
              <div class="col-sm-12">
                <div class="container">
                  <div class="jumbotron">
                    <p class="text-center">THERE ARE NO COMPANIES IN THE CORPORATE DATABASE AT THIS TIME.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" ng-if="!corporate.empty">
              <div class="col-sm-12">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                  </div>
                  <input type="text" class="form-control" ng-model="corporateSearchText">
                </div>
              </div>
              <div class="col-12 col-md-4" ng-repeat="company in corporate.companies | filter: corporateSearchText | orderBy: 'name'" style="margin-bottom: 16px;">
                <div class="card">
                  <img class="card-img-top img-company" ng-src="{{ company.logo }}">
                  <div class="card-footer text-center">
                    <h4 class="ellipsis">{{ company.name }}</h4>
                    <button type="button" class="btn btn-block btn-submit" ng-click="corporate.openMoreInfoModal(company.username)">Organization Profile</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BOOKMARKS -->
    <div class="tab-pane fade show" id="nav-bookmark" role="tabpanel" aria-labelledby="nav-bookmark-tab">
      <div class="container">
        <div class="row" ng-if="corporate.bookmarks == 0">
          <div class="col-sm-12">
            <div class="container">
              <div class="jumbotron">
                <p class="text-center">YOU HAVE NO COMPANIES BOOKMARKED.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="corporate.bookmarks != 0" ng-repeat="bookmark in corporate.bookmarks | orderBy: 'name'">
          <div class="col-sm-3">
            <img class="img-fluid img-company" ng-src="{{ bookmark.logo }}">
          </div>
          <div class="col-sm-7">
            <h2>{{ bookmark.name }}</h2>
            <div class="row" style="margin-bottom: 16px">
              <div class="col-12">
                <p>{{ bookmark.description }}</p>
              </div>
              <div class="col-6">
                <h4>Website</h4>
                <a href="{{ bookmark.website }}" target="_blank" style="display: inline-block;">Click here</a>
              </div>
              <div class="col-6">
                <h4>Email</h4>
                <a href="{{ bookmark.email }}" target="_blank" style="display: inline-block;">Click here</a>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-block btn-submit" ng-click="corporate.openMoreInfoModal(bookmark.username)">Profile</button>
            <button type="button" class="btn btn-block btn-outline-danger" ng-click="corporate.removeBookmark(bookmark.username)">Unfollow</button>
          </div>
          <div class="col-12">
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="moreInfoModal" aria-labelledby="moreInfoModalLabel">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="moreInfoModal">Organization Profile</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <h3>{{ corporate.company.name }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4">
            <img class="img-fluid img-logo" ng-src="{{ corporate.company.logo }}">
            <h4>Address</h4>
            <p>{{ corporate.company.address }} <br>
              {{ corporate.company.city }}, {{ corporate.company.state }}, {{ corporate.company.zip }}</p>
          </div>
          <div class="col-12 col-lg-8">
            <div ng-if="corporate.company">
              <h4>Description</h4>
              <p>{{ corporate.company.description }}</p>
            </div>
            <div class="row" style="margin-bottom: 16px;">
              <div class="col-6">
                <h4>Website</h4>
                <a href="{{ corporate.company.website }}" target="_blank" style="display: inline-block;">Click here</a>
              </div>
              <div class="col-6">
                <h4>E-mail</h4>
                <a href="mailto:{{ corporate.company.email }}" target="_blank" style="display: inline-block;">Click here</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-light" ng-click="corporate.closeMoreInfoModal()">Close</button>
            <button type="button" class="btn btn-success float-right" ng-if="!corporate.company.bookmark" ng-click="corporate.addBookmark(corporate.company.username)">Follow</button>
            <button type="button" class="btn btn-danger float-right" ng-if="corporate.company.bookmark" ng-click="corporate.removeBookmark(corporate.company.username)">Unfollow</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
